server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 10MB
  jackson:
    deserialization:
      fail_on_null_for_primitives: false
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  sql:
    init:
      mode: embedded
      schema-locations: classpath:sql/schema.sql